<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Login</title>
    <link th:href="@{/css/login_style.css}" rel="stylesheet" />
</head>

<body>
<div class="body">
    <h1>Login page</h1>
    <p th:if="${loginError}" class="error">Wrong user or password</p>

    <form th:action="@{/auth/login}" method="post">
        <label for="username">Username</label> <input type="text" id="username" name="username" autofocus="autofocus" /> <br />
        <label for="password">Password</label> <input type="password" id="password" name="password" /> <br />
        <input type="submit" value="Log in" />

    </form>
    <form th:action="@{/auth/registeration}" method="get">
        <input type="submit" value="Registration" />
    </form>


</div>

